canvas==0.3
certifi==2022.12.7
charset-normalizer==3.0.1
dnacentersdk==2.5.6
docopt==0.6.2
fastjsonschema==2.16.2
fpdf==1.7.2
future==0.18.3
github-clone==1.2.0
idna==3.4
lxml==4.9.3
maskpass==0.3.7
pipreqs==0.4.11
pynput==1.7.6
pyobjc-core==9.0.1
pyobjc-framework-ApplicationServices==9.0.1
pyobjc-framework-Cocoa==9.0.1
pyobjc-framework-Quartz==9.0.1
pytz==2023.3
requests==2.28.2
requests-toolbelt==0.10.1
six==1.16.0
tabulate==0.9.0
urllib3==1.26.14
utils==1.0.1
xmltodict==0.13.0
yarg==0.1.9
